/*格式化*/
*{
    margin: 0;
    padding: 0;
    background:none;
}
ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap:10px;
}
span::before {
    display:none !important;
}
/*tag配置-尺寸*/
svg{
    height: 32px;
    display: block;
}
.figma{width: 88.56px;}
.zcool{width: 114.63px;}
.baidu{width: 107.28px;}
/*tag配置-light*/
.light .box{
    fill:#272727;
}
.light .name{
    fill:#ffffff;
}
/*tag配置-dark*/
.dark .box{
    fill:#FFFFFF;
}
.dark .name{
    fill:#272727;
}
