*{
    margin: 0;
    padding: 0;
    background:none;
}
ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap:10px;
}
svg{
    height: 32px;
}
.figma{width: 88.56px;}
.zcool{width: 114.63px;}
.baidu{width: 107.28px;}
span::before {
    display:none !important;
}
.box {
    /*fill:#f00;*/
}
.name path{
}